h1{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;  
    font-size: 300%;
    color:#fff;
    margin-left: 42.6%;
    position: absolute;
    top: 100px;
}
h2{
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    
    font-size: 300%;
    color:#fff;
    margin-left: 42.6%;
    position: absolute;
    top: 100px;    
}
body {
    margin: 0
    padding: 0;
    font-family: Futura,Trebuchet MS,Arial,sans-serif; ;
}

.banner{
    width: 100%;
    height: 100vh;
    /*make transparent layer with linear-gradient*/
    
    position: sticky;
    background-position:0%;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.logo {
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
} 
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0% ;
    background: #01628f;
    position: absolute;
    left: 39.25cm;
    bottom: 50px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.yt{
    height: 400px;
    object-fit: cover;
    position: absolute;
    top: 250px;
    right: 20%;    
}
.ig{
    height: 225px;
    object-fit: cover;
    position: absolute;
    top: 340px;
    left: 20%;    
}